<div class="container">
  <div class="row">
    <br> <br>
    <h3 style="padding: 20px 10px;">Gestionar Agencias</h3>
    <hr style="padding: 0px 10px;border: 1ps solid #777777; width: 100%;">
  </div>
  <form [formGroup]="_formEntity">
    <input type="text" class="form-control" formControlName="id" *ngIf="editUser" style="display: none;;">

    <div class="row">

      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Agencia Tours">
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Descripcion</label>
          <input type="text" class="form-control" formControlName="description" placeholder="Rodadero">
        </div>
      </div>
    </div>
    
    <div class="row">

      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">NIT</label>
          <input type="text" class="form-control" formControlName="nit" placeholder="800.658.265-1">
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Dirección</label>
          <input type="text" class="form-control" formControlName="address" placeholder="Calle 12 # 10-10">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Ciudad</label>
          <input type="text" class="form-control" formControlName="city" placeholder="Santa Marta">
        </div>
      </div>
    </div>


    <div class="col-sm" *ngIf="!edit">
      <button type="submit" (click)="save()" [disabled]="_formEntity.invalid"
        class="btn btn-primary">Guardar</button>
    </div>
    <div class="col-sm" *ngIf="edit">
      <button type="submit" (click)="updateUser()" [disabled]="_formEntity.invalid"
        class="btn btn-primary">Actualizar</button> &nbsp;
      <button type="reset" (click)="cancelUpdate()" class="btn btn-primary">Cancelar</button>
    </div>
  </form>

  <div class="row">
    <div class="col-sm">
      <br>
      <h4>Usuarios Registrados</h4>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre Agencia</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Nit</th>
            <th scope="col">Direccion</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <th>{{item.name}}</th>
            <td>{{item.description}}</td>
            <th>{{item.nit}}</th>
            <th>{{item.address}}</th>
            <th>{{item.city}}</th>
             <td><a class="hover-a" (click)="deleteUser(item.id)">Eliminar</a> &nbsp;
              <a class="hover-a" (click)="updateUserAct(item)">Editar</a></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>