<div class="container">
  <div class="row">
    <br />
    <br />
    <h3 style="padding: 20px 10px">Gestionar Planes</h3>
    <hr style="padding: 0px 10px; border: 1px solid #777777; width: 100%" />
  </div>
  <form [formGroup]="_formEntity">
    <input
      type="text"
      class="form-control"
      formControlName="id"
      *ngIf="editUser"
      style="display: none ;"
    />
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label>Nombre</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Playa Blanca"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label>Descripcion</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            placeholder="Descripcion del plan"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label>Valor $</label>
          <input
            type="number"
            class="form-control"
            formControlName="totalvalue"
            placeholder="Playa Blanca"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label>Código abreviado</label>
          <input
            type="text"
            class="form-control"
            formControlName="code"
            placeholder="810"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label>Descuento (Opcional)</label>
          <input
            type="number"
            max="100"
            min="0"
            class="form-control"
            formControlName="discount"
            placeholder="Playa Blanca"
          />
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label>Agencia </label>
          <select class="form-control" formControlName="agency" name="sel2">
            <option value="">Seleccionar</option>
            <option [value]="i.name" *ngFor="let i of dataAgency">
              {{ i.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Servicios (Opcional)</label>

          <select
            class="form-control"
            formControlName="selectedDoor"
            [ngModel]="selectedDoor"
            (ngModelChange)="onChange($event)"
            name="sel2"
          >
            <option [value]="i.id" *ngFor="let i of dataServices">
              {{ i.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="arraySelect.length > 0">
        <div class="form-group">
          <label>Servicios Selecionados</label>

          <div
            class="optinon"
            *ngFor="let item of arraySelect; let i = index"
            style="
              background-color: aquamarine;
              border-radius: 5px;
              padding: 5px;
              margin-bottom: 3px;
            "
          >
            <span>{{ item.name }}</span
            ><img
              (click)="removeItemFromArr(item)"
              src="https://img.icons8.com/plasticine/2x/delete-sign.png"
              width="20"
              height="20"
              style="float: right"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm" *ngIf="!edit">
      <button
        type="submit"
        (click)="save()"
        [disabled]="_formEntity.invalid"
        class="btn btn-primary"
      >
        Guardar
      </button>
    </div>
    <div class="col-sm" *ngIf="edit">
      <button
        type="submit"
        (click)="updateUser()"
        [disabled]="_formEntity.invalid"
        class="btn btn-primary"
      >
        Actualizar
      </button>
      &nbsp;
      <button type="reset" (click)="cancelUpdate()" class="btn btn-primary">
        Cancelar
      </button>
    </div>
  </form>

  <div class="row">
    <div class="col-sm">
      <br />
      <h4>Planes o combos Registrados</h4>
      <br />
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre Sericio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Valor</th>
            <th scope="col">Agencia</th>
            <th scope="col">Códigp</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <th>{{ item.name | titlecase }}</th>
            <td>{{ item.description | titlecase }}</td>
            <td>{{ item.totalvalue | currency: " $":"symbol":"4.0-0" }}</td>
            <td>{{ item.agency }}</td>
            <td>{{ item.code }}</td>
            <td>
              <a
                style="color: white"
                class="hover-a btn btn-danger"
                (click)="deleteUser(item.id)"
                >Eliminar</a
              >
              &nbsp;
              <a
                style="color: white"
                class="hover-a btn btn-warning"
                (click)="updateUserAct(item)"
                >Editar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
