<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #92e9ff;">

  <img src="../../assets/LOGOSAPPSTAXI.png" width="90" height="30" alt="">
  
  <!-- <img src="../../assets/icon-home.png" width="30" height="30" alt="">


  <img src="../../assets/CANOPYREDONDO.png" width="30" height="30" alt=""> -->



 
  <a class="navbar-brand" href="#" style="padding-left: 10px;"> </a>
  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Descarga la App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contactanos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Ingresar al Panel</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>