<div class="container">
  <div class="row">
    <br> <br>
    <h3 style="padding: 20px 10px;">Gestionar Usuarios</h3>
    <hr style="padding: 0px 10px;border: 1ps solid #777777; width: 100%;">
  </div>
  <form [formGroup]="_formEntity">
    <input type="text" class="form-control" formControlName="id" *ngIf="editUser" style="display: none;;">

    <div class="row">

      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Usuario</label>
          <input [ngClass]="{'validation': _formEntity.value.user === ''}" type="text" class="form-control"
            formControlName="user" placeholder="Pedro Perez">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="email@email.com">
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Contraseña</label>
          <input type="password" class="form-control" formControlName="password" placeholder=" ">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Cedula</label>
          <input type="number" class="form-control" formControlName="dni" placeholder="1045698585">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Telefono</label>
          <input type="number" class="form-control" formControlName="phone" placeholder="3006885544">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo Usuario</label>
          <select class="form-control" formControlName="type" id="exampleFormControlSelect1">
            <option value="Vendedor" selected>Vendedor</option>
            <option value="Verificador" selected>Verificador</option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo Servicios a Verificar</label>
          <select class="form-control" formControlName="typeverify" id="exampleFormControlSelect1">
            <option>Seleccionar</option>
            <option value="Acuario">Acuario</option>
            <option value="Pikua">Pikua</option>
            <option value="IncaInca">InkaInka</option>
            <option value="Katamran">Katamaran</option>
            <option value="TxiMarino">TaxiMarino</option>
            <option value="Canopy">Canopy</option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Zona de venta asociada</label>
          <select class="form-control" formControlName="zone" id="exampleFormControlSelect2">
            <option *ngFor="let item of zones" value="{{item.name}}">{{item.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm" *ngIf="!editUser">
      <button type="submit" (click)="saveUser()" [disabled]="_formEntity.invalid"
        class="btn btn-primary">Guardar</button>
    </div>
    <div class="col-sm" *ngIf="editUser">
      <button type="submit" (click)="updateUser()" [disabled]="_formEntity.invalid"
        class="btn btn-primary">Actualizar</button> &nbsp;
      <button type="reset" (click)="cancelUpdate()" class="btn btn-primary">Cancelar</button>
    </div>
  </form>

  <div class="row">
    <div class="col-sm">
      <br>
      <h4>Usuarios Registrados</h4>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Usuairo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Zona</th>
            <th scope="col">Tipo</th>
            <th scope="col">Tipo Ser. Verificador</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
            <th>{{item.user}}</th>
            <td>{{item.phone}}</td>
            <td>{{item.zone}}</td>
            <td>{{item.type}}</td>
            <td>{{item.typeverify}}</td>
            <td>
              <!-- 
              <a class="hover-a" (click)="deleteUser(item.id)">Eliminar</a> &nbsp;
              <a class="hover-a" (click)="updateUserAct(item)">Editar</a></td>
              -->
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>