<div class="container">
  <div class="row">
    <br />
    <br />

    <div class="col-sm">
      <h4>Gestion de ventas</h4>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="_formEntity">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label>Vendedor</label>
            <select class="form-control" formControlName="seller">
              <option value="{{ item.user }}" *ngFor="let item of sellers">
                {{ item.user | titlecase }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label>date</label>

            <input
              type="date"
              class="form-control"
              formControlName="date"
              placeholder="Alan Brito"
            />
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label> .</label>

            <button class="btn btn-primary form-control" (click)="submit()">
              Consultar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Vendedor</th>
          <th scope="col">Servicios</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of result">
          <th scope="row">{{ item.codebar }}</th>
          <td>{{ item.date }} - {{ item.hour }}</td>
          <td>{{ item.seller }}</td>
          <td>{{ item.codebar }}</td>
          <td>{{ item.codebar }}</td>
          <td>{{ item.codebar }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 