<ng-container *ngIf="!receipt">
  <div class="container">
    <div class="row">
      <br />
      <br />
      <h3 style="padding: 20px 10px">Nueva venta</h3>
      <!-- Button trigger modal -->
      <button
        style="height: 42px; margin-top: 22px; position: absolute; right: 23px"
        id="btnmodal"
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#exampleModaluser"
        data-backdrop="static"
        data-keyboard="false"
      >
        Cambiar usuario de venta
      </button>
      <hr style="padding: 0px 10px; border: 1px solid #777777; width: 100%" />
    </div>
    <form [formGroup]="_formEntity">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label>Nombre Vendedor</label>
            <select
              class="form-control"
              formControlName="seller"
              style="pointer-events: none"
            >
              <option *ngFor="let item of sellers" value="{{ item.user }}">
                {{ item.user }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label></label>
              <!------ <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal2"
                style="margin-top: 31px"
              >
                Cargar Cliente
              </button>-->
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label>Nombre cliente (opcional)</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Alan Brito"
            />
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label>Cedula cliente (opcional)</label>
            <input
              type="number"
              class="form-control"
              formControlName="dni"
              placeholder="1045639521"
            />
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label>Selecciona un plan</label>
          <select class="form-control" (change)="loadPlan($event.target.value)">
            <option>Seleccionar</option>
            <option *ngFor="let item of plans" value="{{ item.id }}">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label>Selecciona uno o varios servicios individuales</label>
          <select
            class="form-control"
            (change)="onChangeServ($event?.target?.value)"
          >
            <option>Seleccionar</option>
            <option
              *ngFor="let item of services; let i = index"
              value="{{ item.id }}"
            >
              {{ i }} - {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- Mostrar planes
    <ng-container *ngIf="arraySelectPlan && arraySelectPlan.length > 0">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label>Planes Seleccionados</label>
            <p *ngFor="let item of arraySelectPlan">
              {{item.name}} - {{item.totalvalue}}
              <img (click)="removeItemFromArrPlan(item)" src="https://img.icons8.com/plasticine/2x/delete-sign.png"
                width="20" height="20" style="float: right;">
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    -->

    <ng-container>
      <div class="row">
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="restDate()"
          >
            Ver todos los planes
          </button>
          <div class="row" style="margin-top: 10px; margin-bottom: 10px">
            <div class="col-sm">
              <div class="card">
                <div class="card-body">
                  <ng-container *ngFor="let item of services; let i = index">
                    <ng-container *ngIf="sellerSelected === 'taquillaAcuario'">
                      <ng-container
                        *ngIf="
                          i === 0 ||
                          i === 1 ||
                          i === 3 ||
                          i === 11 ||
                          i === 15 ||
                          i === 21 ||
                          i === 34 ||
                          i === 35 ||
                          i === 41 ||
                          i === 52
                        "
                      >
                        <button
                          style="margin-right: 5px; margin-bottom: 5px"
                          type="button"
                          (click)="onChangeServ(item.id)"
                          class="btn btn-secondary btn-sm"
                        >
                          {{ item.name | titlecase }}
                        </button>
                      </ng-container>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        sellerSelected !== 'Oficina Agencias' &&
                        sellerSelected !== 'taquillaAcuario'
                      "
                    >
                      <ng-container
                        *ngIf="
                          i === 15 ||
                          i === 58 ||
                          i === 33 ||
                          i === 21 ||
                          i === 34 ||
                          i === 35 ||
                          i === 41 ||
                          i === 60 ||
                          i === 50 ||
                          i === 37 ||
                          i === 23 ||
                          i === 16
                        "
                      >
                        <button
                          style="margin-right: 5px; margin-bottom: 5px"
                          type="button"
                          (click)="onChangeServ(item.id)"
                          class="btn btn-secondary btn-sm"
                        >
                          {{ item.name | titlecase }}
                        </button>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="sellerSelected === 'Oficina Agencias'">
                      <ng-container
                        *ngIf="
                          i === 3 ||
                          i === 7 ||
                          i === 0 ||
                          i === 44 ||
                          i === 46 ||
                          i === 54 ||
                          i === 30 ||
                          i === 25 ||
                          i === 31 ||
                          i === 36 ||
                          i === 49 ||
                          i === 29
                        "
                      >
                        <button
                          style="margin-right: 5px; margin-bottom: 5px"
                          type="button"
                          (click)="onChangeServ(item.id)"
                          class="btn btn-secondary btn-sm"
                        >
                          {{ item.name | titlecase }}
                        </button>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <h5 class="card-title">Detalle de venta</h5>

          <div class="card">
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Plan o servicio</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of arraySelect">
                    <th scope="row">{{ item.name }}</th>
                    <td>{{ item.description }}</td>
                    <td>{{ item.publicvalue | currency: "USD" }}</td>
                    <td style="text-align: center">
                      <a
                        style="cursor: pointer"
                        (click)="removeItemFromArr(item)"
                      >
                        Quitar
                        <img
                          src="https://img.icons8.com/plasticine/2x/delete-sign.png"
                          width="20"
                          height="20"
                          style="float: right"
                      /></a>
                    </td>
                  </tr>
                  <tr *ngFor="let item of arraySelectPlan">
                    <th scope="row">{{ item.name }}</th>
                    <td>{{ item.description }}</td>
                    <td>{{ item.totalvalue | currency: "USD" }}</td>
                    <td style="text-align: center">
                      <a
                        style="cursor: pointer"
                        (click)="removeItemFromArrPlan(item)"
                        >Quitar<img
                          src="https://img.icons8.com/plasticine/2x/delete-sign.png"
                          width="20"
                          height="20"
                          style="float: right"
                      /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-sm">
        <fieldset id="group1">
          <label>Efectivo</label>&nbsp;
          <input
            type="radio"
            value="cash"
            name="typepay"
            [(ngModel)]="generalSale.paymentType"
            checked
          />
          <label>Tarjeta</label>&nbsp;
          <input
            type="radio"
            value="card"
            name="typepay"
            [(ngModel)]="generalSale.paymentType"
          />&nbsp;&nbsp; <label>Credit</label>&nbsp;
          <input
            type="radio"
            value="credit"
            name="typepay"
            [(ngModel)]="generalSale.paymentType"
          />&nbsp;&nbsp; <label>Mixto</label>&nbsp;
          <input
            type="radio"
            value="mixed"
            name="typepay"
            [(ngModel)]="generalSale.paymentType"
          />&nbsp;&nbsp;
        </fieldset>
      </div>
    </div>

    <ng-container>
      <div class="row">
        <div
          class="col-sm-2"
          *ngIf="
            generalSale.paymentType === 'cash' ||
            generalSale.paymentType === 'mixed'
          "
        >
          <div class="form-group">
            <label>Efectivo</label>
            <input
              type="number"
              [(ngModel)]="generalSale.cash"
              class="form-control"
            />
          </div>
        </div>
        <div
          class="col-sm-2"
          *ngIf="
            generalSale.paymentType === 'card' ||
            generalSale.paymentType === 'mixed'
          "
        >
          <div class="form-group">
            <label>Tarjeta</label>
            <input
              type="number"
              [(ngModel)]="generalSale.card"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-sm-2" *ngIf="generalSale.paymentType === 'credit'">
          <div class="form-group">
            <label>Voucher</label>
            <input type="number" [(ngModel)]="vaucher" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label>&nbsp;</label><br />
          <!--- <button class="btn btn-primary" (click)="showmixprice = fasle">Cerrar</button>-->
        </div>
      </div>
      <!--  <label>&nbsp;</label>
      <button class="btn btn-primary" (click)="showmixprice = fasle">
        Generar Consecutivos
      </button>--->
    </ng-container>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Codigos de barra</label>
          <input type="number" [(ngModel)]="code" class="form-control" />
        </div>
        <ng-container *ngIf="barcodes && barcodes.length > 0">
          <div class="row">
            <div class="col-sm">
              <div class="card" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Códigos añadidos</h5>

                  <table class="table table-sm table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of barcodes">
                        <th scope="row">{{ item.code }}</th>
                        <td>
                          <a style="cursor: pointer" (click)="removeCode(item)">
                            Quitar
                            <img
                              src="https://img.icons8.com/plasticine/2x/delete-sign.png"
                              width="20"
                              height="20"
                              style="float: right"
                          /></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>&nbsp;</label><br />
          <div class="btn btn-primary" (click)="validaeCod(true)">
            + Añadir otro código
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label style="color: green; font-size: 18px"
                >Total de venta por código</label
              >
              <h5>{{ totalValue + total | currency: "USD" }}</h5>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label style="color: maroon; font-size: 18px"
                >Sumatoria total de venta</label
              >
              <h5>
                {{ (totalValue + total) * barcodes.length | currency: "USD" }}
              </h5>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <button
                class="btn btn-success"
                (click)="onSubmit1()"
                [disabled]="!_formEntity.valid"
              >
                Crear Venta
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group"><label>&nbsp;</label><br /></div>
      </div>
    </div>
  </div>
</ng-container>
<app-receipt
  *ngIf="receipt"
  (hiddem)="receipt = false"
  [data]="dataFormvalue"
></app-receipt>

<div
  class="modal"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="padding: 11px">
      <div class="modal-header">
        <div class="row">
          <div class="form-group" style="width: 100%">
            <label for="exampleInputPassword1">Buscar</label>
            <input
              type="text"
              #dataSeacrh
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Buscar"
            />
          </div>
          <button (click)="serach(dataSeacrh.value)" type="button">
            Buscar
          </button>
        </div>
        <div class="row">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <!--
        <div class="row">


          <div class="col-sm-8">
            <div class="form-group">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Playa Blanca">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </div>
          </div>
        </div>
         -->
        <div class="row">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Plan</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Valor</th>
                <th scope="col">Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of arryTMP">
                <th scope="row">{{ item.name | titlecase }}</th>
                <td>{{ item.description | titlecase }}</td>
                <td>
                  {{ item.publicvalue | currency: "$ ":"symbol":"4.0-0" }}
                </td>
                <td>
                  <a
                    style="color: white"
                    class="btn btn-primary"
                    (click)="onChangeServ(item.id)"
                    >Añadir</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModaluser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inidica el vendedor</h5>
        <!--  
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!sellers; else userComp">
          <div style="width: 100%; text-align: center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Cargando datos...</span>
            </div>
            <p class="sr-only">Cargando datos...</p>
          </div>
        </ng-container>
        <ng-template #userComp>
          <select #seller (click)="selectSeller(seller.value)">
            <option *ngFor="let item of sellers" value="{{ item.user }}">
              {{ item.user }}
            </option>
          </select>
          <br />
          <p>Usuario Selecionado: {{ sellerSelected }}</p>
        </ng-template>
      </div>
      <div class="modal-footer">
        <!-- 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button> -->
        <button
          (click)="saveSelect()"
          *ngIf="sellerSelected"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#exampleModal").modal({
    modal: true,
    buttons: {
      Ok: function () {
        $(this).modal("close");
      },
    },
  });
</script>
<script>
  $("#exampleModal2").modal({
    modal: true,
    buttons: {
      Ok: function () {
        $(this).modal("close");
      },
    },
  });
</script>
