<div class="container">
  <div class="row">
    <br />
    <br />
    <h3 style="padding: 20px 10px">Reportes Generales</h3>
    <hr style="padding: 0px 10px; border: 1px solid #777777; width: 100%" />
  </div>
  <form>
    <input
      type="text"
      class="form-control"
      formControlName="id"
      *ngIf="editUser"
      style="display: none"
    />
    <div class="row">
      <div class="col-sm">
        <label for="date">Desde</label>
        <input
          id="date"
          class="form-control"
          type="date"
          #dates
          [(ngModel)]="date1"
          (change)="getDataByRangeDate()"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-sm">
        <label for="date">Hasta</label>
        <input
          id="date"
          class="form-control"
          type="date"
          #dates
          [(ngModel)]="date2"
          (change)="getDataByRangeDate()"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="exampleFormControlSelect2">Seleccionar servicio</label>
        <select
          multiple
          class="form-control"
          id="exampleFormControlSelect2"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectService"
        >
          <option *ngFor="let item of service" value="{{ item.name }}">
            {{ item.name | titlecase }}
          </option>
        </select>
      </div>
      <div class="col-sm">
        <label for="exampleFormControlSelect2">Seleccionar vendedor</label>
        <select
          multiple
          class="form-control"
          id="exampleFormControlSelect2"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="seletcSellers"
        >
          <ng-container *ngFor="let item of sellers">
            <option *ngIf="item.type === 'Vendedor'" value="{{ item.user }}">
              {{ item.user | titlecase }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="reportData()"
        >
          {{ btnreport }}
        </button>
        -
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="reportData()"
        >
          limpiar resulados
        </button>
      </div>
      <div class="col-sm"></div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm">
      <h3>Total: $ {{ total | number }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button
        style="margin-top: 8px"
        class="btn-success btn"
        (click)="exportExcel('General')"
      >
        Generar Excel por vendedor
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h4>Reporte General Por vendedor</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Efectivo</th>
            <th scope="col">Banco</th>
            <th scope="col">Agencia Credito</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of generalReport; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>${{ item.efecty | number }}</td>
            <td>${{ item.bank | number }}</td>
            <td>${{ item.vaucher | number }}</td>
            <td>{{ item.seller }}</td>
            <td>${{ item.efecty + item.bank + item.vaucher | number }}</td>
          </tr>
          <tr>
            <th scope="row">Suma</th>
            <td>${{ totalefecty | number }}</td>
            <td>${{ totalBank | number }}</td>
            <td>${{ totalVaoucher | number }}</td>
            <td><strong>TOTAL:</strong></td>
            <td>
              <strong
                >${{ totalefecty + totalBank + totalVaoucher | number }}</strong
              >
            </td>
          </tr>
        </tbody>
      </table>

      Total de servicios vendidos: {{ individualService.length }} <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Total TaxiMarino</th>
            <th scope="col">Total Acuario</th>
            <th scope="col">Total Pikua</th>
            <th scope="col">Total InkaInka</th>
            <th scope="col">Total Katamaran</th>
            <th scope="col">Total Canopy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">$ {{ totalTaxiMarino | number }}</th>
            <th scope="row">$ {{ totalAcuario | number }}</th>
            <th scope="row">$ {{ totalPikua | number }}</th>
            <th scope="row">$ {{ totalInkaInka | number }}</th>
            <th scope="row">$ {{ totalKatamaran | number }}</th>
            <th scope="row">$ {{ totalCanopy | number }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button
        style="margin-top: 8px"
        class="btn-success btn"
        (click)="exportExcel('AllServices')"
      >
        Exportar Servicios vendidos Excel
      </button>
    </div>
  </div>
  <div class="row" *ngIf="depTaxiMarino.length > 0">
    <div class="col-sm">
      <h4>Ventas taxi marino</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cod</th>
            <th scope="col">Servicio</th>
            <th scope="col">Cliente</th>
            <th scope="col"># Vochuer</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of depTaxiMarino; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.codebar }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.nameClient }}</td>
            <td>{{ item.vaucher }}</td>
            <td>{{ item.seller }}</td>
            <td>{{ item.status }}</td>
            <td>${{ item.publicvalue | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="depAcuario.length > 0">
    <div class="col-sm">
      <h4>Ventas Acuario</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cod</th>
            <th scope="col">Servicio</th>
            <th scope="col">Cliente</th>
            <th scope="col"># Vochuer</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of depAcuario; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.codebar }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.nameClient }}</td>
            <td>{{ item.vaucher }}</td>
            <td>{{ item.seller }}</td>
            <td>{{ item.status }}</td>
            <td>${{ item.publicvalue | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="depPikua.length > 0">
    <div class="col-sm">
      <h4>Ventas Pikua</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cod</th>
            <th scope="col">Servicio</th>
            <th scope="col">Cliente</th>
            <th scope="col"># Vochuer</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of depPikua; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.codebar }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.nameClient }}</td>
            <td>{{ item.vaucher }}</td>
            <td>{{ item.seller }}</td>
            <td>{{ item.status }}</td>
            <td>${{ item.publicvalue | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="depInkaInka.length > 0">
    <div class="col-sm">
      <h4>Ventas InkaInka</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cod</th>
            <th scope="col">Servicio</th>
            <th scope="col">Cliente</th>
            <th scope="col"># Vochuer</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of depInkaInka; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.codebar }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.nameClient }}</td>
            <td>{{ item.vaucher }}</td>
            <td>{{ item.seller }}</td>
            <td>{{ item.status }}</td>
            <td>${{ item.publicvalue | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="depKatamaran.length > 0">
    <div class="col-sm">
      <h4>Ventas Katamaran</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cod</th>
            <th scope="col">Servicio</th>
            <th scope="col">Cliente</th>
            <th scope="col"># Vochuer</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of depKatamaran; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.codebar }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.nameClient }}</td>
            <td>{{ item.vaucher }}</td>
            <td>{{ item.seller }}</td>
            <td>{{ item.status }}</td>
            <td>${{ item.publicvalue | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="depCanopy.length > 0">
    <div class="col-sm">
      <h4>Ventas Canopy</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cod</th>
            <th scope="col">Servicio</th>
            <th scope="col">Cliente</th>
            <th scope="col"># Vochuer</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of depCanopy; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.codebar }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.nameClient }}</td>
            <td>{{ item.vaucher }}</td>
            <td>{{ item.seller }}</td>
            <td>{{ item.status }}</td>
            <td>${{ item.publicvalue | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
