<div class="container">
  <div class="row">
    <br />
    <br />
    <h3 style="padding: 20px 10px">Reportes Generales</h3>
    <hr style="padding: 0px 10px; border: 1px solid #777777; width: 100%" />
  </div>
  <form>
    <input
      type="text"
      class="form-control"
      formControlName="id"
      *ngIf="editUser"
      style="display: none"
    />
    <div class="row">
      <div class="col-sm">
        <label for="date">Desde</label>
        <input
          id="date"
          class="form-control"
          type="date"
          #dates
          [(ngModel)]="date1"
          (change)="getDataByRangeDate()"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-sm">
        <label for="date">Hasta</label>
        <input
          id="date"
          class="form-control"
          type="date"
          #dates
          [(ngModel)]="date2"
          (change)="getDataByRangeDate()"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="exampleFormControlSelect2">Seleccionar servicio</label>
        <select
          multiple
          class="form-control"
          id="exampleFormControlSelect2"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectService"
        >
          <option *ngFor="let item of service" value="{{ item.name }}">
            {{ item.name | titlecase }}
          </option>
        </select>
      </div>
      <div class="col-sm">
        <label for="exampleFormControlSelect2">Seleccionar vendedor</label>
        <select
          multiple
          class="form-control"
          id="exampleFormControlSelect2"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="seletcSellers"
        >
          <ng-container *ngFor="let item of sellers">
            <option *ngIf="item.type === 'Vendedor'" value="{{ item.user }}">
              {{ item.user | titlecase }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="reportData()"
        >
          {{ btnreport }}
        </button>
        -
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="reportData()"
        >
          limpiar resulados
        </button>
      </div>
      <div class="col-sm"></div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm">
      <ng-container *ngIf="useremail === 'jefferariza@outlook.com'">
        <h3>Total: $ {{ total | number }} # Manillas: {{ data.length }}</h3>
      </ng-container>
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button
        style="margin-top: 8px"
        class="btn-success btn"
        (click)="exportExcel('General')"
      >
        Generar Excel por vendedor
      </button>
    </div>
    <div class="col-sm">
      <button
        style="margin-top: 8px"
        class="btn-danger btn"
        (click)="exportExcel('totalreport')"
      >
      Generar Excel general 
      </button>
    </div>
   </div>
  <div class="row">
    <div class="col-sm">
      <h4>Reporte General Por vendedor</h4>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Efectivo</th>
            <th scope="col">Banco</th>
            <th scope="col">Agencia Credito</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of generalReport; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>${{ item.efecty | number }}</td>
            <td>${{ item.bank | number }}</td>
            <td>${{ item.vaucher | number }}</td>
            <td>{{ item.seller }}</td>
            <td>${{ item.efecty + item.bank + item.vaucher | number }}</td>
          </tr>
          <tr>
            <th scope="row">Suma</th>
            <td>${{ totalefecty | number }}</td>
            <td>${{ totalBank | number }}</td>
            <td>${{ totalVaoucher | number }}</td>
            <td><strong>TOTAL:</strong></td>
            <td>
              <strong
                >${{ totalefecty + totalBank + totalVaoucher | number }}</strong
              >
            </td>
          </tr>
        </tbody>
      </table>
      Total de servicios vendidos: {{ individualService.length }} <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">Total TaxiMarino</th>
            <th scope="col" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com' || useremail === 'acuariosistema2020@gmail.com'">Total Acuario</th>
            <th scope="col" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">Total Pikua</th>
            <th scope="col" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">Total InkaInka</th>
            <th scope="col" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">Total Katamaran</th>
            <th scope="col" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com' || useremail === 'canopysistema2020@gmail.com'">Total Canopy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">$ {{ totalTaxiMarino | number }}</th>
            <th scope="row" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'  || useremail === 'acuariosistema2020@gmail.com'" >$ {{ totalAcuario | number }}</th>
            <th scope="row" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">$ {{ totalPikua | number }}</th>
            <th scope="row" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">$ {{ totalInkaInka | number }}</th>
            <th scope="row" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com'">$ {{ totalKatamaran | number }}</th>
            <th scope="row" *ngIf="useremail === 'jefferariza@outlook.com' || useremail === 'taximarino2020@gmail.com' || useremail === 'canopysistema2020@gmail.com'">$ {{ totalCanopy | number }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- Taximarino -->
  <ng-container *ngIf="useremail==='taximarino2020@gmail.com' || useremail==='canopysistema2020@gmail.com' || useremail==='jefferariza@outlook.com'">
    <div class="row">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="exportExcel('depTaxiMarino')"
        >
          Exportar Taximarino Servicios vendidos Excel
        </button>
      </div>
    </div>
    <div class="row" *ngIf="depTaxiMarino.length > 0">
      <div class="col-sm">
        <h4>Ventas taxi marino</h4>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cod</th>
              <th scope="col">Fecha</th>
              <th scope="col">Servicio</th>
              <th scope="col">Cliente</th>
              <th scope="col"># Vochuer</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Estado</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of depTaxiMarino; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.codebar }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.nameClient }}</td>
              <td>{{ item.vaucher }}</td>
              <td>{{ item.seller }}</td>
              <td>{{ item.status }}</td>
              <td>${{ item.publicvalue | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <!-- Acuario -->
  <ng-container *ngIf="useremail==='acuariosistema2020@gmail.com' || useremail==='jefferariza@outlook.com'">
    <div class="row" *ngIf="depAcuario.length > 0">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="exportExcel('depAcuario')"
        >
          Exportar Acuario Servicios vendidos Excel
        </button>
      </div>
    </div>
    <div class="row" *ngIf="depAcuario.length > 0">
      <div class="col-sm">
        <h4>Ventas Acuario</h4>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cod</th>
              <th scope="col">Fecha</th>
              <th scope="col">Servicio</th>
              <th scope="col">Cliente</th>
              <th scope="col"># Voucher</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Estado</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of depAcuario; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.codebar }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.nameClient }}</td>
              <td>{{ item.vaucher }}</td>
              <td>{{ item.seller }}</td>
              <td>{{ item.status }}</td>
              <td>${{ item.publicvalue | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <!-- Pikua -->
  <ng-container *ngIf="useremail==='taximarino2020@gmail.com' || useremail==='jefferariza@outlook.com'">
    <div class="row" *ngIf="depPikua.length > 0">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="exportExcel('depPikua')"
        >
          Exportar Pikua Servicios vendidos Excel
        </button>
      </div>
    </div>
    <div class="row" *ngIf="depPikua.length > 0">
      <div class="col-sm">
        <h4>Ventas Pikua</h4>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cod</th>
              <th scope="col">Fecha</th>
              <th scope="col">Servicio</th>
              <th scope="col">Cliente</th>
              <th scope="col"># Vochuer</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Estado</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of depPikua; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.codebar }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.nameClient }}</td>
              <td>{{ item.vaucher }}</td>
              <td>{{ item.seller }}</td>
              <td>{{ item.status }}</td>
              <td>${{ item.publicvalue | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <!-- depInkaInka -->
  <ng-container *ngIf="useremail==='taximarino2020@gmail.com' || useremail==='jefferariza@outlook.com'">
    <div class="row" *ngIf="depInkaInka.length > 0">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="exportExcel('depInkaInka')"
        >
          Exportar InkaInkaPikua Servicios vendidos Excel
        </button>
      </div>
    </div>
    <div class="row" *ngIf="depInkaInka.length > 0">
      <div class="col-sm">
        <h4>Ventas InkaInka</h4>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cod</th>
              <th scope="col">Fecha</th>
              <th scope="col">Servicio</th>
              <th scope="col">Cliente</th>
              <th scope="col"># Vochuer</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Estado</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of depInkaInka; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.codebar }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.nameClient }}</td>
              <td>{{ item.vaucher }}</td>
              <td>{{ item.seller }}</td>
              <td>{{ item.status }}</td>
              <td>${{ item.publicvalue | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="useremail==='taximarino2020@gmail.com' || useremail==='jefferariza@outlook.com'">
    <div class="row" *ngIf="depKatamaran.length > 0">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="exportExcel('depKatamaran')"
        >
          Exportar Katamaran Servicios vendidos Excel
        </button>
      </div>
    </div>
    <div class="row" *ngIf="depKatamaran.length > 0">
      <div class="col-sm">
        <h4>Ventas Katamaran</h4>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cod</th>
              <th scope="col">Fecha</th>
              <th scope="col">Servicio</th>
              <th scope="col">Cliente</th>
              <th scope="col"># Vochuer</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Estado</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of depKatamaran; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.codebar }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.nameClient }}</td>
              <td>{{ item.vaucher }}</td>
              <td>{{ item.seller }}</td>
              <td>{{ item.status }}</td>
              <td>${{ item.publicvalue | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <!-- canopy -->
  <ng-container *ngIf="useremail==='canopysistema2020@gmail.com' || useremail==='jefferariza@outlook.com'">
    <div class="row" *ngIf="depCanopy.length > 0">
      <div class="col-sm">
        <button
          style="margin-top: 8px"
          class="btn-success btn"
          (click)="exportExcel('depCanopy')"
        >
          Exportar Canopy Servicios vendidos Excel
        </button>
      </div>
    </div>
    <div class="row" *ngIf="depCanopy.length > 0">
      <div class="col-sm">
        <h4>Ventas Canopy</h4>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cod</th>
              <th scope="col">Fecha</th>
              <th scope="col">Servicio</th>
              <th scope="col">Cliente</th>
              <th scope="col"># Vochuer</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Estado</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of depCanopy; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.codebar }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.nameClient }}</td>
              <td>{{ item.vaucher }}</td>
              <td>{{ item.seller }}</td>
              <td>{{ item.status }}</td>
              <td>${{ item.publicvalue | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  
  
</div>
