<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <h4>Ventas Registradas</h4>
      <br>
      <div style="height: 400px; overflow-x: auto">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Código de barra</th>
            <th scope="col">Descuento</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Total</th>
            <th scope="col">Opciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data" (click)="detailSale = item.detail" style="cursor: pointer">
            <th>{{item.name}}</th>
            <td>{{item.date }}</td>
            <td>{{item.codebar}}</td>
            <td>{{item.dicount}}</td>
            <td>{{item.seller}}</td>
            <td>{{item.state}}</td>
            <td>{{item.total}}</td>
            <td><a class="hover-a" *ngIf="item.state !== 'Aprobada' && item.state  !== 'Cancelada'"
                   (click)="approve(item)">Aprobar</a> &nbsp;
              <a class="hover-a" *ngIf="item.state !== 'Aprobada'  && item.state  !== 'Cancelada'"
                 (click)="cancel(item)">Cancelar</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <div id="details " style="position: relative" *ngIf="detailSale.length > 0">
        <img id="close" (click)="detailSale = []" src="/assets/close.png" alt="">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Valor</th>
            <th scope="col">Valor Agencia</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let service of detailSale">
            <td>{{service.name}}</td>
            <td>{{service.description}}</td>
            <td>{{service.publicvalue}}</td>
            <td>{{service.agencyvalue}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
